  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchInputs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search input {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 24px;
    padding: 20px;
    height: 50px;
    width: 400px;
  }
  
  .searchIcon {
    height: 70px;
    width: 60px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  
  .searchIcon svg {
    font-size: 40px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 400px;
    max-height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
    margin-right: 58px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  
  .dataItem:hover {
    background-color: lightgrey;
  }
  
  .clearBtn {
    cursor: pointer;
  }

  .error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  
  