.hero-content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }
  
  .hero-content p {
    font-size: 20px;
  }
  